<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.friendlygreenhouse.application" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".api.AppConfig"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangeFlowerActivity"
            android:label="變更花種"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".CustomerActivity"
            android:label="自動設定"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".DiaryActivity"
            android:label="我的養花日誌"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".DictionaryActivity"
            android:label="養花大百科"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ImmediateActivity"
            android:label="即時操作"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="設定"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>
